*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

body {
  font-family: 'Indie Flower', cursive;
  /*font-family: 'Baloo Thambi', cursive;*/
  /*font-family: 'Francois One', sans-serif;*/
  font-size: 10px;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 4.5em;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 3.5em;
  display: block;
}

.img-responsive {
  max-width: 80%;
  height: auto;
}

.text-center {
  margin: 0 auto;
  text-align: center;
}

.block-center {
  display: block;
  margin: 0 auto;
}

.frame {
  box-shadow: 0 0 7px 3px #888;
  border: 10px solid #3e2b14;
  padding: 4px;
}

.custom-page-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.custom-page {
  background: pink url("../pics/bg1.png") repeat center center !important;
  position: relative;
}

.custom-cover-page {
  background: pink url("../pics/bg2.png") repeat center center !important;
  position: relative;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

img {
  display: block;
}

.top: {
  position: absolute;
  top: 0;
}

.top.left {
  left: 0 !important;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.bottom.right {
  right: 0 !important;
}

.page-border {
  border-right: 3px solid black;
}
